/* GLOBAL */

body {
  margin: 0;
}

h1,
h2,
h3,
a {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: center;
  max-width: 100%;
}

p {
  font-family: "Elms Sans", sans-serif;
}

a {
  font-size: 25px;
}

h1 {
  font-size: 75px;
}

.btn {
  background-color: rgb(143, 0, 0);
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

/* NAVIGATION */

nav {
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
}

nav img {
  width: 150px;
  height: 150px;
  padding-left: 50px;
}

.nav-wrapper {
  padding-right: 50px;
}

.nav-wrapper a {
  color: white;
  padding: 5px 30px;
  text-decoration: none;
}

/* HOMEPAGE */

.home-cta {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(../images/pokeballOnCards.jpeg);
  background-position: center;
  background-size: 100%;
}

.home-cta .btn {
  width: 150px;
  margin: auto;
  text-align: center;
}

.home-cta h1 {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
  border-radius: 30px;
}

/* upcoming tournaments */

.upcoming-tournaments {
  padding-bottom: 50px;
}

.upcoming-tournaments h1 {
  color: black;
  text-align: center;
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
}

.tournament-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #303030;
  width: 500px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.2);
}

.tournament-card h2 {
  color: white;
  font-size: 30px;
}

.tournament-card a {
  width: 200px;
  text-align: center;
  color: white;
}

.tournament-card p {
  font-size: 25px;
  max-width: 75%;
  color: white;
}

/* second call to action */

.home-cta-two {
  display: flex;
  align-items: center;
}

.home-cta-two div {
  flex-direction: column;
}

.home-cta-two h1 {
  color: black;
  text-align: center;
}

.home-cta-two p {
  text-align: center;
  max-width: 75%;
  margin: auto;
  font-size: 25px;
}

.home-cta-two img {
  max-width: 50%;
}

/* FOOTER */

footer {
  box-shadow: 0 -8px 10px 2px rgba(0, 0, 0, 0.2);
}

.footer-wrapper {
  display: flex;
  background-color: #303030;
  color: white;
  font-size: 25px;
  justify-content: space-around;
  margin-top: 50px;
}

.footer-wrapper a {
  color: white;
}

.footer-wrapper li {
  list-style: none;
  padding: 10px 0;
}

.quick-links {
  margin: 0 20px;
}

.social-icons {
  background-color: #303030;
  text-align: center;
}

.social-icons a {
  margin: 0 10px;
}

/* sign up page */

form {
  display: flex;
  flex-direction: column;
}

.sign-up {
  display: flex;
  justify-content: space-between;
}

.sign-up h1 {
  color: black;
  margin: 0;
  padding: 25px;
}

.sign-up-card form {
  font-size: 25px;
}

.sign-up img {
  max-width: 50%;
  max-height: 50%;
}

.sign-up-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
  padding: 40px 50px;
  border-radius: 20px;
  max-width: 450px;
  width: 100%;
}

/* Profile */

.profile-card {
  padding: 50px;
  background-color: #303030;
  border-radius: 20px;
  box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.2);
  color: white;
}

.win-loss-card {
  background-color: #303030;

  border-radius: 20px;
  box-shadow: 10px 10px 50px;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.profile-tournament-history h1 {
  color: black;
  text-align: center;
}

.profile-card img {
  width: 250px;
}

/* tournament details page */

.meow {
  color: black;
  text-align: center;
  margin: 75px 0;
}

.details img {
  max-width: 50%;
}

.tournament-details-card {
  box-shadow: 11px 22px 50px;
  border-radius: 20px;
  max-width: 800px;
  text-align: center;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.tournament-details-card h1 {
  color: black;
}

.tournament-details-card p {
  max-width: 500px;
  font-size: 25px;
  margin: auto;
}

.date-time {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin: 50px 0;
  font-size: 30px;
}

/* Tournament Bracket */

.bracket {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-top: 40px;
}

.round {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.match {
  background: #fff;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.player {
  margin: 5px 0;
  font-weight: bold;
}

.winner .player {
  font-size: 40px;
}

/* Create a Tournament page */

.create-tournament-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
  padding: 40px 50px;
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
}

.create-tournament-card h1 {
  color: black;
}

.create-tournament-card .btn {
  margin-top: 20px;
}

/* Tournament Details styling */

.page-title {
  text-align: center;
  margin: 75px 0;
  color: black;
  font-size: 60px;
}

.tournament-details-card {
  max-width: 1000px;
  background-color: #f7f7f7;
  margin: auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.details-header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: auto;
  flex-direction: column;
}

.details-header img {
  width: 150px !important;
  height: 150px !important;
  min-width: 150px;
  min-height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
}

.host-info h2 {
  margin: 0;
  font-size: 28px;
  color: #333;
}

.host-info p {
  margin: 5px 0 0;
  font-size: 22px;
  color: #555;
}

.tournament-name {
  text-align: center;
  font-size: 50px;
  color: #222;
}

.tournament-info {
  text-align: center;
}

.tournament-info p {
  font-size: 24px;
  color: #333;
  margin: 10px 0;
  width: 100%;
}

.tournament-info .rules {
  font-weight: bold;
}

.date-location {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 26px;
  color: #444;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}

.action-buttons .btn {
  padding: 15px 30px;
  font-size: 24px;
  border-radius: 12px;
  border-top: 1px solid black;
}

.detailsAndRules {
  display: flex;
  flex-direction: row;
}

.rules {
  border-left: 1px solid black;
}

/* upcoming tournaments page */

.upcoming-tournaments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 50px;
  box-sizing: border-box;
}

.tournament-card h3 {
  color: white;
}

/* Mobile styling */

@media (max-width: 1000px) {
  h1,
  h2,
  h3,
  a {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    text-align: center;
    max-width: 80%;
  }

  p {
    font-family: "Elms Sans", sans-serif;
    
  }

  a {
    font-size: 15px;
  }

  h1 {
    font-size: 50px;
    color: white;
  }

  .btn {
    background-color: rgb(143, 0, 0);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  nav .nav-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  nav .nav-wrapper a.btn {
    font-size: 10px;
    padding: 6px 10px;
    width: 100%;
    text-align: center;
  }

  nav img {
    max-width: 150px;
    height: auto;
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 90%;
    margin: auto;
  }

  .tournament-card {
    width: 90%;
  }

  .home-cta-two {
    display: flex;
    flex-direction: column;
  }

  .home-cta {
    display: flex;
    flex-direction: column;
  }

  .profile-wrapper {
    width: 90%;
    margin: auto;
  }

  .create-tournament-card {
    width: 90%;
    margin: auto;
  }

  .upcoming-tournaments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tournament-card h3 {
  color: white;
}
}
